* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 10vh;
  background: grey;
}

main {
  background-image: url("https://www.helvetia.de/it/web/it/chi-siamo/blog/Assicurazione/animali/razze-cani/_jcr_content/teaserimage/image.1573488443650.transform-fp/1440x810/razze-cani.jpg");
  background-size: contain;
  height: 80vh;
}

main .main {
  background-color: rgba(232, 232, 232, 0.8);
  width: 200px;
  display: flex;
  flex-direction: column;
}

main .main h2 {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 20px;
}

main .main a {
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  font-size: xx-large;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
}

main .main a:first-child {
  margin-top: 20px;
}

main .datiCanePadre {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .datiCanePadre div {
  border: 1px solid black;
  width: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
}

footer {
  height: 10vh;
  background: pink;
}

