*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  position: fixed;
  top: 0;
  @include flex;
  height: 10vh;
  width: 100vw;
  background: black;
  color: white;
}
main {
  @include flex;
  margin-top: 20vh;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      border: 2px solid blue;
      height: 50px;
      width: 150px;
      color: red;
      margin-bottom: 30px;
    }

  }
  li {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
  }
  .dettagliOmini {
    width: 300px;
    height: auto;
  }

}
footer {
  @include flex;
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100vw;

  background: black;
  color: white;
}
